section {

}
.main-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 3em;
}
.title_sidebar {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 24px;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 100px 5px 0 5px;
}
.book {
    width: 209px;
    height: 338px;
    background: #F5F5F5;
  margin-bottom: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.book_title {
    font-Family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: normal;
}
.book_price {
    font-Family: "Open Sans",sans-serif;
    font-weight: lighter;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: normal;
}
img {
    width: 75%;
    height: auto;
}
