.sidenav {
    height: 100%;
    width: 17rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
    padding-top: 10rem;
    text-align: left;
    background-image: url("../images/Home_black.png");
    font-size: 16px;
}
.main {
    margin-left: 17.125rem; /* Same as the width of the sidenav */
}
.sidebar_title {
    display: block;
    margin: 0 0 1em 1.5rem;
    text-align: left;
    font-size: 1.5em;
}
.item {
    display: block;
    padding: .5rem 0 .5rem 1.5rem;
    text-decoration: none;
}
button {
  background-color: transparent;
  color: rgb(240, 240, 240);
  border: none;
  font-size: 16px;
}
button:focus {
  outline:0;
}
button:hover {
  color: #1690C3;
}
#panel {
    display: none;
}
.check_container {
    display: block;
    position: relative;
    margin: 0 0 1.5em 1.5em;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label {
  padding-top: 2px;
  padding-left: 35px;
}
button {
    padding-top: 2px;
    padding-left: 5px;
}
.check_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
}
.checkmark:hover {
    background: -webkit-linear-gradient(#1d4350, #a43931);
}
.check_container input:checked ~ .checkmark {
    background: -webkit-linear-gradient(#1d4350, #a43931);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.check_container input:checked ~ .checkmark:after {
    display: block;
}
@media screen and (max-width: 640px) {
    .main {
        margin-left: 0;
        margin-top: 4.125rem;
    }
    .sidenav {
        width: 0;
        padding-top: 0;
        border: none;
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    .sidenavtoogle {
        width: 14rem;
        top: 4rem;
        border: 1px solid #1690C3;
    }
    .mobile {
        width: 100%;
        height: 4rem;
        position: fixed;
        top: 0;
        overflow: hidden;
        z-index: 1;
        text-align: center;
        background-color: black;
        border: #1690C3 solid 1px;
        font-family: "Montserrat ExtraLight", sans-serif;
    }
}
