
html{
  margin:0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.background-image {
  height: 100vh;
  background-image: url("../images/Home_black.png");
  background-size: cover;
  background-position: center;
}

.full-height{
    height: 100vh;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 52px;
  letter-spacing: -0.02em;
  background: -webkit-linear-gradient(#1d4350, #a43931);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 24px;
  letter-spacing: -0.02em;
  margin: 0;
    text-align: left;
}

.scroll {
  font-weight: 800;
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.sign-up{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:40px;

}
