.info {
     display: flex;
     flex-direction: row;
    justify-content: space-between;
 }

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.left img {
    width: 400px;
    height: auto;
}