.w-color {
  color: #ffffff;
}
.b-color {
  color: #000000;
}
p {
  padding: 0;
  margin: 0;
}

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey: #F5F5F5;
    --color-darkgrey: #C4C4C4;
}



